*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Poppins,sans-serif;
}

body{

background:#f2f7ff;

display:flex;

justify-content:center;

align-items:center;

min-height:100vh;

}

.register-card{

background:white;

padding:40px;

border-radius:20px;

width:800px;

}

.register-card h2{

font-weight:bold;

margin-bottom:10px;

}

.register-card p{

color:gray;

margin-bottom:30px;

}

button{

margin-top:10px;

}